body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('../images/bgimg-1.jpg');
  min-height: 100%;
}

/* Second image (gamin) */
.bgimg-2 {
  background-image: url("../images/bgimg-2.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("../images/bgimg-3.jpg");
  min-height: 400px;
}

/* Footer image (Contact) */
.bgimg-footer {
  /*background-image: url("../images/footer.jpg");*/
  text-shadow: unset;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

.w3-bar {
  color: #fff;
}

.iconeDown {
  position: absolute;
  bottom: 0;
  left: 50%;
  color: #fff;
  font-size: 40px;
  transform: translate(-50%,0%);
}

.rotate-left {
  transform: rotate(-3deg)
}
.rotate-right {
  transform: rotate(3deg)
}

#about .noobDescription {
  margin-top: 2px;
}
#about {
  text-align: justify;
}

.incline-right {
  transform: skew(-20deg);
}
.incline-left {
  transform: skew(20deg);
}

.contener3 {
  width: 33%;
  display: inline-block;
}

.logoImg {
  background-image: url("../images/logo.png");
  height: 950px;
  width: 1250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.games .container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  float: left;
  height: 0;
  background-image: url("../images/games.jpg");
  background-repeat: no-repeat;
  background-size: cover;  
}

.games .aion {
  background-position-y: -0px;
}

.games .rocketleague {
  background-position-y: 14.2857%;
}

.games .apex {
  background-position-y: 28.5714%;
}

.games .lol {
  background-position-y: 42.8571%;
}

.games .overwatch {
  background-position-y: 57.1428%;
}

.games .fortnite {
  background-position-y: 71.4285%;
}

.games .teso {
  background-position-y: 85.7142%;
}

.games .trackmania {
  background-position-y: 100%;
}
